header nav .container-fluid .navbar-brand img{
    margin-right: 15vw;
    height: 40px;
    width: 100px;
}

header nav .container-fluid .d-flex button{
    margin-right: 10vw;

}

header nav .container-fluid .collapse ul li button{
    color: white;
    background-color: rgb(59, 154, 185);
    border-color: black;
    margin-top: 3px;
    margin-left: 20px;
    padding: 3px 5px;
    border-radius: 10px;
}
header nav .container-fluid .collapse ul li button:hover{
    background-color: white;
    color: rgb(59, 154, 185);
    border-color: rgb(59, 154, 185);
    margin-top: 3px;
    margin-left: 20px;
    padding: 3px 5px;
    border-radius: 10px;
}
header nav .container-fluid form input{
    width: 40vw;
}

.image-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(197, 186, 186);
    height: 350px;
    align-items: center;
}